{% extends 'cmstemplates/global/base.html' %}
{% load static mptt_tags guardian_tags admin_urls object_permissions pipeline relink %}

{% block title %}

{% endblock %}

{% block header %} 
<header class="header">
  <div class="pure-g">
    <div class="col pure-u-1">
      <a class="brand" href="/"><img class="responsive" src="http://horizonte.slcschools.org/images/logo.png" alt="{{ request.site.dashboard_general_site.title }} Logo"></a>
      <nav id="nav" class="navbar clearfix">
        <input id="toggle-mobile-menu" class="nav-trigger" type="checkbox" autocomplete="off" />
        <label for="toggle-mobile-menu" aria-label="Menu" class="nav-trigger-label toggle-main-menu md-chevron-left alwayslinked">
          <span class="md-menu"></span>
          <span class="hidden">Main Menu</span>
        </label>
        {% widthratio MENU_ITEMS|length|stringformat:"i"|add:".1" 2 1 as halfmenu %}
        <ul class="sidenav mobile-navigation hide-xs hide-sm hide-md">
          <li>
            <ul class="nav navl">
              {% for item in MENU_ITEMS %}
              {% if forloop.counter <= halfmenu|add:"0" %}
              {% if item.url in request.path  %}
              <li class="nav-item active"> <a href="{{ item.url }}" class="dropdown-toggle menu-item" data-toggle="dropdown">{{ item.menu_title|safe }}</a></li>
              {% else %}
              <li class="nav-item"> <a href="{{ item.url }}" class="dropdown-toggle menu-item" data-toggle="dropdown">{{ item.menu_title|safe }}</a></li>
              {% endif %}
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li>
            <ul class="nav navr">
              {% for item in MENU_ITEMS %}
              {% if forloop.counter > halfmenu|add:"0" %}
              {% if item.url in request.path  %}
              <li class="nav-item active"> <a href="{{ item.url }}" class="dropdown-toggle menu-item" data-toggle="dropdown">{{ item.menu_title|safe }}</a></li>
              {% else %}
              <li class="nav-item"> <a href="{{ item.url }}" class="dropdown-toggle menu-item" data-toggle="dropdown">{{ item.menu_title|safe }}</a></li>
              {% endif %}
              {% endif %}
              {% endfor %}
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
{% endblock %}

{% block precontent %}
<div class="breadcrumbs">
  <div class="pure-g">
    <div class="col pure-u-1">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="main">
  <div class="pure-g"> 
  {% block main-content %}
  {% endblock %}
  </div>
</div>
{% endblock %}

{% block scriptsstyles %}
{% javascript 'inspire-standard' %}
{% stylesheet 'inspire-standard' %}
<link rel="stylesheet" type="text/css" media="all" href="/revslider/revslider/public/assets/css/settings.css" />
<script type="text/javascript" src="/revslider/revslider/public/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/revslider/revslider/public/assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/revslider/assets/js/revslider.js" id="revslider_script"></script>
{% endblock %}