html.inspire .pure-g,
html.inspire .navbar{
  max-width: 1400px;
  margin: auto;
}
.header.wrapper .header{
  background: #d80b36;
}
ul.nav{
	margin: 0;
	padding: 0;
	list-style: none;
}
.navbar{
  float: right;
  position: relative;
  display: block;
  height: 100%;
  color: #fff;
}
.toggle-main-menu{
	display: block;
	height: 100%;
	line-height: 155.5px;
	font-size: 2em;
}
#toggle-mobile-menu:hover + label, #toggle-mobile-menu:focus + label {
  font-size: 2.05em;
}
html.inspire .main.wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
}
html.inspire .main.wrapper h1{
  margin-top: 0;
}
html.inspire .featured-img,
html.inspire .featured-img .container {
    height: 240px;
    position: relative;
}
html.inspire .featured-img {
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid #412666;
    background-repeat: no-repeat !important;
    background-position: 50% 100% !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
html.inspire .widget-container {
    margin-bottom: 10px;
}
html.inspire .widget-box .widget-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #000;
    font-size: 18px;
    border-top: 1px solid;
        border-top-color: currentcolor;
    border-left: 1px solid;
        border-left-color: currentcolor;
    border-color: #000;
    padding: 15px 0;
}
html.inspire .widget-box .widget-inner {
    border: 1px solid #000;
    color: #fff;
    padding: 10px 0;
    background-color: #000;
}
html.inspire .widget-box ul, html.inspire .widget-box li {
    list-style: none;
    margin: 0;
    padding: 0;
}
html.inspire .widget-box a {
    display: block;
    color: #fff !important;
    background-color: #000;
    padding: 10px 30px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
/* XS Styles */
@media screen and (max-width: 567px) {
}
/* SM Styles */
@media screen and (min-width: 568px) {
}
/* MD Styles */
@media screen and (min-width: 768px) {
}
/* LG Styles */
@media screen and (min-width: 1024px) {
.header.wrapper .header {
  position: relative;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.brand {
  width: 260px;
  height: 151px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -130px;
  z-index: 5;
  background-color: #d80b36;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.navbar{
  float: none;
 }
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline;
}
.navbar ul li a{
  color: #000;
  padding: 30px 20px;
  display: inline-block;
}
.navl {
  text-align: right;
  width: 50%;
  float: left;
}
.navl > li:last-child {
    margin-right: 130px;
}
.navr {
  text-align: left;
  width: 50%;
  float: right;
}
.navr > li:first-child {
    margin-left: 130px;
}
}
/* XL Styles */
@media screen and (min-width: 1280px) {
}

// Must be last rule
body {
  display: block;
}