{% extends 'cmstemplates/inspire/layouts/snavleft-contentright.html' %}
{% load static mptt_tags relink %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block content %}
  {{ block.super }}
{% endblock %}

{% block contentbanners %}
{% if page.about_our_school.images_contentbanner_node.all %}
{% include "cmstemplates/global/blocks/about-our-school-banners.html" %}
{% endif %}
{% endblock %}

{% block main-content-right %}
{% include "cmstemplates/global/blocks/about-our-school.html" %}
{% endblock %}