{% extends "cmstemplates/inspire/layouts/contentmodal.html" %}

{% block title %}
Contact: {{form.fields.message_to.initial}} from {{ from_page.title }}
{% endblock %}

{% block header1 %}
<h1>Contact: {{form.fields.message_to.initial}} from {{ from_page.title }}</h1>
{% endblock %}

{% block modalcontent %}
<div class="modal-content">
	<div class="modaal-ajax-content-area">
    <div id="pagefeedbacktitle" class="modal-title">Send Us A Message</div>
    <p id="pagefeedbackdesc" class="modal-desc sr-only">Please submit the form below to submit us a message. Thank you for taking the time to let us know how we are doing. You can close this dialog by pressing escape at any time.</p>
  {% include "cmstemplates/global/blocks/contact-form.html" %}
	</div>
</div>
{% endblock %}

{% block modalreturn %}{{ from_page.url }}{% endblock %}
