<tr class="{{meeting.yearend}} {% if meeting.cancelled %}red lighten-4{% endif %}">
  <td><div>{{ meeting.startdate|date:"M. d, Y" }}</div>{% if meeting.startdate|date:"l" != 'Tuesday' %}<div class="yellow lighten-4">{{ meeting.startdate|date:"l" }}</div>{% endif %}{% if meeting.startdate|date:"H:i" != '18:30' %}<div class="yellow lighten-4">{{ meeting.startdate|date:"g:i A" }}</div>{% endif %}</td>
  <td>{% if meeting.building_location or meeting.non_district_location_google_place %}<a href="{% if meeting.non_district_location_google_place %}{{  meeting.non_district_location_google_place }}{% else %}{{meeting.building_location.google_place}}{% endif %}" target="_blank">{% if meeting.non_district_location %}{{  meeting.non_district_location }}{% else %}{{ meeting.building_location.title }}{% endif %}<i class="material-icons tiny">&#xE55F;</i></a>{% else %}Location Not Specified{% endif %}</td>
  <td>{% if meeting.cancelled %}**MEETING CANCELLED**{% else %}{% if meeting.meeting_type.all %}{% for type in meeting.meeting_type.all %}{% if not forloop.first %} <br> {% endif %}{{ type.title }}{% endfor %}{% endif %}{% endif %}</td>
  {% for document in meeting.documents_boardmeetingagenda_node.all %}
  {% if forloop.first %}
  <td class="center">
    <a href="#{{ document.pk }}" class="document-inline"><i class="material-icons">&#xE24D;</i></a>
    <div id="{{ document.pk }}" class="hide">
      <div id="{{ document.pk }}-title" class="modal-title">Document Languages</div>
      <p id="{{ document.pk }}-desc" class="modal-desc">This document is available in the languages shown below. Please select a language. You can close this dialog by pressing escape at any time.</p>
      {% for file in document.files_file_node.all %}
      <a class="btn stretch" href="{{ file.file_file.url }}">
        <span class="sr-only">{{ file.title }}</span>
        <span class="notranslate no-sr" aria-hidden="true">{{ file.file_language.title }}</span>
      </a>
      {% endfor %}
    </div>
  </td>
  {% endif %}
  {% empty %}
  <td class="center"><i class="disabled material-icons">&#xE24D;</i></td>
  {% endfor %}
  {% for document in meeting.documents_boardmeetingminutes_node.all %}
  {% if forloop.first %}
  <td class="center">
    <a href="#{{ document.pk }}" class="document-inline"><i class="material-icons">&#xE24D;</i></a>
    <div id="{{ document.pk }}" class="hide">
      <div id="{{ document.pk }}-title" class="modal-title">Document Languages</div>
      <p id="{{ document.pk }}-desc" class="modal-desc">This document is available in the languages shown below. Please select a language. You can close this dialog by pressing escape at any time.</p>
      {% for file in document.files_file_node.all %}
      <a class="btn stretch" href="{{ file.file_file.url }}">
        <span class="sr-only">{{ file.title }}</span>
        <span class="notranslate no-sr" aria-hidden="true">{{ file.file_language.title }}</span>
      </a>
      {% endfor %}
    </div>
  </td>
  {% endif %}
  {% empty %}
  <td class="center"><i class="disabled material-icons">&#xE24D;</i></td>
  {% endfor %}
  {% for audio in meeting.documents_boardmeetingaudio_node.all %}
  {% if forloop.first %}
  <td class="center">
    <a href="#{{audio.pk}}" class="document-inline"><i class="material-icons">&#xE029;</i></a>
    <div id="{{ audio.pk }}" class="hide">
      <div id="{{ audio.pk }}-title" class="modal-title">Board Audio Recording</div>
      <p id="{{ audio.pk }}-desc" class="modal-desc">Click play below to listen to the board audio recording. You can close this dialog by pressing escape at any time.</p>
      {% for file in audio.files_audiofile_node.all %}
       <audio controls>
         <source src="{{file.file_file.url}}" type="audio/mpeg">
         <a href="{{file.file_file.url}}">Your browser does not support the audio element. Click here to download</a>
       </audio> 
      {% endfor %}
    </div>
  </td>
  {% endif %}
  {% empty %}
  <td class="center"><i class="disabled material-icons">&#xE029;</i></td>
  {% endfor %}
  {% for video in meeting.documents_boardmeetingvideo_node.all %}
  {% if forloop.first %}
  <td class="center">
  <a href="#{{video.pk}}" class="document-inline"><i class="material-icons">&#xE04B;</i></a>
    <div id="{{ video.pk }}" class="hide">
      <div id="{{ video.pk }}-title" class="modal-title">Board Video Recording</div>
      <p id="{{ video.pk }}-desc" class="modal-desc">Click play below to view to the board video recording. You can close this dialog by pressing escape at any time.</p>
      {% for file in video.files_videofile_node.all %}
        <video width="320" height="240" controls>
          <source src="{{file.file_file.url}}" type="video/mp4">
          <a href="{{file.file_file.url}}">Your browser does not support the video tag. Click here to download.</a>
        </video> 
      {% endfor %}
    </div>
  </td>
  {% endif %}
  {% empty %}
  <td class="center"><i class="disabled material-icons">&#xE04B;</i></td>
  {% endfor %}
</tr>
