{% for document in policy.documents_policy_node.all %}
<tr {% if forloop.parentloop.counter0|divisibleby:"2" %}class="even"{% endif %}>
  <td class="policyindex">{{ policy.get_policy_index }}</td>
  <td class="policytitle">{{ policy.policy_title }}</td>
  <td class="documents rowaction"><!--<a href="#!" title="Download"><i class="material-icons">&#xE2C4;</i></a>-->
    <a href="#{{ document.pk }}" class="document-inline"><i class="material-icons">&#xE157;</i></a>
    <div id="{{ document.pk }}" class="hide">
      <div id="{{ document.pk }}-title" class="modal-title">Document Languages</div>
      <p id="{{ document.pk }}-desc" class="modal-desc">This document is available in the languages shown below. Please select a language. You can close this dialog by pressing escape at any time.</p>
      {% for file in document.files_file_node.all %}
      <a class="btn stretch" href="{{ file.file_file.url }}">
        <span class="sr-only">{{ file.title }}</span>
        <span class="notranslate no-sr" aria-hidden="true">{{ file.file_language.title }}</span>
      </a>
      {% endfor %}
    </div>
  </td>
  <!--<td class="rowaction"><a href="#!" title="Question / Comment"><i class="material-icons">&#xE0C9;</i></a></td>-->
  <td class="contacts">
    {% for boardpolicyadmin in policy.directoryentries_boardpolicyadmin_node.all %}
      <a href="#!" style="white-space: pre">{{boardpolicyadmin.employee.first_name}} {{boardpolicyadmin.employee.last_name}}</a><br>
    {% endfor %}
  </td>
</tr>
{% endfor %}
{% for document in policy.documents_administrativeprocedure_node.all %}
<tr {% if forloop.parentloop.counter0|divisibleby:"2" %}class="even"{% endif %}>
  <td class="policyindex"><i class="material-icons">&#xE5DA;</i></td>
  <td class="aptitle">Administrative Procedure</td>
  <td class="documents rowaction"><!--<a href="#!" title="Download"><i class="material-icons">&#xE2C4;</i></a>-->
    <a href="#{{ document.pk }}" class="document-inline"><i class="material-icons">&#xE157;</i></a>
    <div id="{{ document.pk }}" class="hide">
      <div id="{{ document.pk }}-title" class="modal-title">Document Languages</div>
      <p id="{{ document.pk }}-desc" class="modal-desc">This document is available in the languages shown below. Please select a language. You can close this dialog by pressing escape at any time.</p>
      {% for file in document.files_file_node.all %}
      <a class="btn stretch" href="{{ file.file_file.url }}">
        <span class="sr-only">{{ file.title }}</span>
        <span class="notranslate no-sr" aria-hidden="true">{{ file.file_language.title }}</span>
      </a>
      {% endfor %}
   </div>
 </td>
  <td class="rowaction"></td>
</tr>
{% endfor %}
{% for document in policy.documents_supportingdocument_node.all %}
<tr {% if forloop.parentloop.counter0|divisibleby:"2" %}class="even"{% endif %}>
  <td class="policyindex"><i class="material-icons">&#xE5DA;</i></td>
  <td class="supportingdoctitle" >{{document.document_title}}</td>
  <td class="documents rowaction"><!--<a href="#!" title="Download"><i class="material-icons">&#xE2C4;</i></a>-->
    <a href="#{{ document.pk }}" class="document-inline"><i class="material-icons">&#xE157;</i></a>
    <div id="{{ document.pk }}" class="hide">
      <div id="{{ document.pk }}-title" class="modal-title">Document Languages</div>
      <p id="{{ document.pk }}-desc" class="modal-desc">This document is available in the languages shown below. Please select a language. You can close this dialog by pressing escape at any time.</p>
      {% for file in document.files_file_node.all %}
      <a class="btn stretch" href="{{ file.file_file.url }}">
        <span class="sr-only">{{ file.title }}</span>
        <span class="notranslate no-sr" aria-hidden="true">{{ file.file_language.title }}</span>
      </a>
      {% endfor %}
   </div>
  </td>
  <td class="rowaction"></td>
</tr>
{% endfor %}
