{% extends "www_slcschools_org/contentrighttoc.html" %}
{% load static mptt_tags relink %}

{% block title %}
  Board Meetings: {{page.title}}
{% endblock %}

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div class="row ">
  <div class="table-of-contents">
    <h5>Contents:</h5>
    <ul>
      {% if page.body %}
      <li><a href="#about">About</a></li>
      {% endif %}
      {% if page.building_location or page.main_phone or page.main_fax %}
      <li><a href="#contact">Contact</a></li>
      {% endif %}
      <li><a href="#districtcalendarevents">District Calendar Events</a></li>
      <li><a href="/calendars/guidelines-for-developing-calendar-options/">Parameters for District Calendars</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% comment %}{% block breadcrumb %}
<div class="row">
  <nav class="slcschools-grey lighten-2">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" title="Home" class="breadcrumb">Home</a>
        {% for item in BREADCRUMB %}
        <a href="{{ item.url }}" title="{{ item.menu_title }}" class="breadcrumb">{{ item.menu_title }}</a>
        {% endfor %}
      </div>
    </div>
  </nav>
</div>
{% endblock %}{% endcomment %}

{% block content %}
{% if page.images_contentbanner_node.all %}
<div class="card">
  <div class="unslider slcschools-grey darken-1">
    <ul class="slides">
      {% for banner in page.images_contentbanner_node.all %}
      <li class="slide">
        <img src="{{banner.image_file.url}}" alt="{{banner.alttext}}" />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
<div class="card">
  <div class="mobile-table-of-contents hide-on-med-and-up">
    <select class="browser-default z-depth-1">
      <option value="#!" disabled selected style="display:none;">Table of Contents</option>
      {% if page.body %}
      <option value="#about">About</option>
      {% endif %}
      {% if page.building_location or page.main_phone or page.main_fax %}
      <option value="#contact">Contact</option>
      {% endif %}
    </select>
  </div>
  <div id="main" class="card-content">
    <h1>Distirct Calendar: {{page.title}}</h1>
    {% if page.body %}
    <div class="row">
      <div id="about" class="richtext scrollspy">
        <div class="body">
          {{page.body|safe|relink}}
        </div>
      </div>
    </div>
    {% endif %}
    {% if page.building_location or page.main_phone or page.main_fax %}
    <div class="row">
      <div id="contact" class="scrollspy">
        {% include "www_slcschools_org/contact_block.html" %}
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div id="districtcalendarevents" class="scrollspy">
        {% if districtcalendaryears %}
        <nav class="yearnav">
          <a class="yearnav" href="#yearnav">
            <span class="currentyear">{{page.title}}</span>
            <span class="caret">▼</span>
          </a>
        </nav>
        <div id="yearnav" class="hide">
          <ul>
            {% for year in districtcalendaryears %}
            <li><a href="../{{year.title}}/">{{year.title}}</a></li> 
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if districtcalendarevents %}
        <ul class="collection">
          {% for event in districtcalendarevents %}
          <li class="collection-item avatar stripe">
            <span class="avatar-stripe {{ event.event_category.css_class }}"></span>
            <span class="title">{{ event.event_name }}</span>
            <div class="date">
              {{ event.startdate|date:"l, F j, Y" }}
            </div>
            {% if event.building_location %}
            <div class="location">
              <a href="{{ event.building_location.google_place }}"><span class="material-icons tiny black-text"></span>{{ event.building_location }}</a>
            </div>
            {% endif %}
          {% endfor %}
          </li>
        </ul>
        {% else %}
        <p>There are not any scheduled events for this year yet. Please select a different year above and check back soon.</p>
        {% endif %}
      </div>
    </div>
  </div>
  {{ block.super }}
</div>
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
$(document).ready(function(){
  $("#schoolyearfilter").change(function(event) {
    $year = $(this).find(":selected").val();
    $("#board_meetings table tbody tr").each(function(){
      if($(this).hasClass($year)){
        $(this).removeClass('hide');
      } else {
        $(this).addClass('hide');
      }
    });
  });
  $("#schoolyearfilter").change();
});
</script>
{% endblock %}
