{% extends "www_slcschools_org/contentrighttoc.html" %}
{% load static mptt_tags guardian_tags %}

{% block title %}
  News {{page.title}}
{% endblock %}

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div class="card-content z-depth-1">
  <div class="card-title slcschools-grey lighten-1 white-text">Table of Contents</div>
  <a href="/contact-us/inline/?pid={{ page.uuid }}" class="btn btn-wrap btn-stretch pagefeedback">Contact Us</a>
  <div class="table-of-contents">
    <ul>
      {% if page.body %}
      <li><a href="#about">About</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% comment %}{% block breadcrumb %}
<div class="row">
  <nav class="slcschools-grey lighten-2">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" title="Home" class="breadcrumb">Home</a>
        {% for item in BREADCRUMB %}
        <a href="{{ item.url }}" title="{{ item.menu_title }}" class="breadcrumb">{{ item.menu_title }}</a>
        {% endfor %}
      </div>
    </div>
  </nav>
</div>
{% endblock %}{% endcomment %}

{% block content %}
{% if page.images_contentbanner_node.all %}
<div class="card">
  <div class="unslider slcschools-grey darken-1">
    <ul class="slides">
      {% for bannerimage in page.images_contentbanner_node.all %}
      <li class="slide">
        <img src="{{bannerimage.image_file.url }}" alt="{{bannerimage.alttext}}" />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
<div class="card">
  <div class="mobile-table-of-contents hide-on-med-and-up">
    <select class="browser-default z-depth-1">
      <option value="#!" disabled selected style="display:none;">Table of Contents</option>
      {% if board.body %}
      <option value="#about">About</option>
      {% endif %}
      {% if  board.board_boardmember_board.all %}
      <option value="#members">Board Members</option>
      {% endif %}
      {% if board.mission_statement %}
      <option value="#mission">Mission Statement</option>
      {% endif %}
      {% if board.vision_statement %}
      <option value="#vision">Vision Statement</option>
      {% endif %}
      {% if board_subpages %}
      <option value="#pages">Pages</option>
      {% for board_subpage in board_subpages %}
      <option class="page" value="{{ board_subpage.url }}" title="{{ board_subpage.title }}">-- {{ board_subpage.title }}</option>
      {% endfor %}
      {% endif %}
    </select>
  </div>
  <div id="main" class="card-content">
    <h1>{{page.title}}</h1>
    {% if page.body %}
    <div class="row">
      <div id="about" class="richtext scrollspy">
        <div class="body">
          {{page.body|safe}}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {{ block.super }}
</div>
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
$(document).ready(function(){
  $("#schoolyearfilter").change(function(event) {
    $year = $(this).find(":selected").val();
    $("#board_meetings table tbody tr").each(function(){
      if($(this).hasClass($year)){
        $(this).removeClass('hide');
      } else {
        $(this).addClass('hide');
      }
    });
  });
  $("#schoolyearfilter").change();
});
</script>
{% endblock %}
