{% extends "www_slcschools_org/contentrighttoc.html" %}
{% load static mptt_tags %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div id="toc" class="card-content z-depth-1">
  <div class="card-title modal-title slcschools-grey lighten-1 white-text">Table of Contents</div>
  <a href="/contact-us/inline/?pid={{ page.uuid }}" class="btn btn-wrap btn-stretch pagefeedback uninit" onclick="$('.inlinemodal').modaal('close');">Contact Us</a>
  <div class="table-of-contents">
    <ul>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <a href="#toc" class="mobile-table-of-contents hide-on-med-and-up btn btn-wrap btn-stretch inlinemodal uninit">Table of Contents</a>
  <div id="main" class="card-content">
    <h1>{{ page.title }}</h1>
    <div id="years" class="scrollspy">
        <div class="collection">
          {% for year in newsyears %}
          {% if year.get_children %}
          <a href="{{ year.url }}" title="School Year: {{ year.title }}" class="collection-item">School Year: {{ year.title }} <i class="material-icons right">&#xE916;</i></a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
  </div>
  {{ block.super }}
</div>
{% endblock %}

{% block sidebar_second_s %}
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
function myFunction() {
  var input, filter, table, tbody, tr, td, i;
  input = document.getElementById("tableSearch");
  filter = input.value.toUpperCase();
  table = document.getElementById("searchTableBody");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
      if (tr[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }       
  }
}
</script>
{% endblock %}
