.col{
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.authenticated.wrapper {
  background: #000;
}
.authenticated.wrapper .pure-button{
  background: transparent;
  color: #fff;
}
.pure-button{
  background: transparent;
  border-radius: 0px;
}
.pure-button.stretch{
  width: 100%;
}
.pure-button.narrow {
  padding-left: 2px;
  padding-right: 2px;
}
.preheader ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.preheader ul li {
  display: inline
}
.z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 36px;
  background: #fff;
  margin: 0px;
  padding: 0px 1px;
  list-style: none;
  border: solid 1px #dadada;
}
a[disabled], a[disabled]:hover {
   pointer-events: none;
   color: #999;
}
html ul.dropdown-content * {
  color: black !important;
}
.dropdown-content.open {
  display: block;
}
.dropdown-content li a {
  display: block;
  padding: 10px;
}
.preheader.wrapper{
  background: #171717;;
}
.preheader.wrapper *{
  color: #fff;
}
.slideleft-content{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(0,0,0,.8);
  top: 0px;
  overflow-y: scroll;
}
.slideleft-content.open{
  display: block;
  left: 0px;
}
.slideleft-content.open *{
  color: #000;
}
.slideleft-content ul {
  list-style: none;
  position: relative;
  display: inline-block;
  background: #fff;
  left: -9999px;
  -webkit-transition: left .25s linear;
  -moz-transition: left .25s linear;
  -o-transition: left .25s linear;
  transition: left .25s linear;
}
.slideleft-content.open ul{
  left: 0px;
}
.slideleft-content ul li {
  display: block !important;
}
.slideleft-content li a {
  display: block;
  padding: 10px;
}
#backtotop {
  overflow: hidden;
  z-index: 11;
  cursor: pointer;
  position: fixed;
  bottom: 18px;
  right: 18px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  background: #3d3d3d;
  color: #fff;
  padding: 2px 5px;
}
html, body{
  height: 100%;
}
body.nooverflow{
  overflow: hidden;
}
.pushfooter{
  min-height: 100%;
  padding-bottom: 100px;
  overflow: auto;
}
footer{
  min-height: 100px;
  margin-top: -100px;
  background: #171717;
  color: #A3A3A3;
}
footer .footer{
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .contact-address,
footer .contact-phone,
footer .contact-fax{
  margin-bottom: 10px;
  display: block;
  color: inherit;
}
footer h2 {
  color: #E0E0E0;
}
.footercopyright.wrapper{
  background: black;
  color: #fff;
}
a{
  color: #4685aa;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
// XS Only
@media screen and (max-width: 567px){
  .hide-xs{
    display: none !important;
  }
  .mobile-navigation {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 12;
    list-style: none;
    overflow-y: scroll;
    transition: width display .25s;
    display: none;
    padding: 0;
    margin: 0;
  }
  .mobile-navigation .nav-item {
    width: 280px !important;
    display: block !important;
    background: black;
  }

  .mobile-navigation .nav-item a {
    display: block;
    padding: 10px;
    color: #fff;
  }
}
// SM Only
@media screen and (min-width: 568px) and (max-width: 767px){
  .hide-sm{
    display: none !important;
  }
  .mobile-navigation {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 12;
    list-style: none;
    overflow-y: scroll;
    transition: width display .25s;
    display: none;
    padding: 0;
    margin: 0;
  }
  .mobile-navigation .nav-item {
    width: 280px !important;
    display: block !important;
    background: black;
  }

  .mobile-navigation .nav-item a {
    display: block;
    padding: 10px;
    color: #fff;
  }
}
// MD Only
@media screen and (min-width: 768px) and (max-width: 1023px){
  .hide-md{
    display: none !important;
  }
  .mobile-navigation {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 12;
    list-style: none;
    overflow-y: scroll;
    transition: width display .25s;
    display: none;
    padding: 0;
    margin: 0;
  }
  .mobile-navigation .nav-item {
    width: 280px !important;
    display: block !important;
    background: black;
  }

  .mobile-navigation .nav-item a {
    display: block;
    padding: 10px;
    color: #fff;
  }
}
// LG Only
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .hide-lg{
    display: none !important;
  }
  .toggle-main-menu{
    display: none !important;
  }
}
// XL Only
@media screen and (min-width: 1280px){
  .hide-xl{
    display: none !important;
  }
  .toggle-main-menu{
    display: none !important;
  }
}

/* Navigation Menu - Background */
.navigation {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 12;
    list-style: none;
    overflow-y: scroll;
    transition: width display .25s;
    display: none;
}

/* Navigation Menu - List items */
.navigation .nav-item {
  width: 280px !important;
  display: block !important;
  background: black;
}

.navigation .nav-item a {
  display: block;
  padding: 10px;
  width: 100%;
  color: #fff;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.nav-trigger-label {
  display: inline-block;
}
/* Make the Magic Happen */
.nav-trigger + a label{
  transition: left 0.5s;
}
.nav-trigger:checked + label, .nav-trigger:checked + label span {
  color: transparent !important;
}
.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked + label {
  position: fixed;
  z-index: 13;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
  left: 280px;
  top: 0px;
  text-align: left;
  padding-left: 10px;
  transition: background linear .2s !important;
}
.nav-trigger + label::before{
  display: none;
}
.nav-trigger:checked + label::before {
  display: block;
  color: #fff;
  font-size: 30px;
}
.nav-trigger:checked ~ .navigation,
.nav-trigger:checked ~ .mobile-navigation {
  width: 280px;
  height: 100%;
  z-index: 14;
  display: block;
  background: black;
  overflow-x: hidden;
  overflow-y: auto;
  display: block !important;
}
.nav-trigger:hover + label, .nav-trigger:focus + label {
  border: 3px solid transparent;
  transition: .05s;
  font-size: 1.05em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0 0 0 1px;
  margin: 2px 0;
}
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background: #4685aa;
    color: #fff;
}
table{
  width: 100%;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead{
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
table td:first-child,
th:first-child {
  border-left-width: 0;
}
table td,
table th {
  border-left: 1px solid #cbcbcb;
  border-left-width: 1px;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}
table td, table th {
  border-width: 0 0 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-bottom: 1px solid #cbcbcb;
}
table thead tr th {
  background: #000;
  color: #fff;
}
table tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}
table.directory-table {
  border: none;
}
table.directory-table tr.directory-group th{
  text-align: left;
  padding: 0;
}
table.directory-table tr.directory-heading{
  background: #000;
  color: #fff;
}
table.directory-table tr.directory-heading,
table.directory-table tr.directory-entry{
  border: 1px solid #cbcbcb;
  border-collapse: collapse;
  text-align: left;
}
table.directory-table tr td.narrow-cell{
  width: 1px;
}
.modaal-wrapper.modaal-inline .modal-title,
.modaal-wrapper.modaal-ajax .modal-title,
.modaal-wrapper.modaal-iframe .modal-title {
	margin: -30px -30px 10px -30px;
	padding: 5px 40px 5px 10px;
	line-height: 30px;
	color: #fff;
	font-size: 1.5em;
	background-color: #000 !important;
}
.modaal-inline .modaal-close,
.modaal-ajax .modaal-close,
.modaal-iframe .modaal-close,
.modaal-inline .modaal-close:hover,
.modaal-ajax .modaal-close:hover,
.modaal-iframe .modaal-close:hover{
    right: 0px !important;
    top: 0px !important;
    color: white;
    width: 40px;
    height: 40px;
    background-color: #ca2027;
    position: absolute;
    border-radius: 0;
}
.modaal-inline .modaal-close::after,
.modaal-inline .modaal-close::before,
.modaal-ajax .modaal-close::after,
.modaal-ajax .modaal-close::before,
.modaal-iframe .modaal-close::after,
.modaal-iframe .modaal-close::before {
    top: 9px !important;
    right: 18px !important;
    left: initial !important;
    background: #fff;
}
#content_banners_wrapper.content_banners {
    margin: 0px auto;
    background: transparent;
    padding: 0px 0px 20px 0px;
}
.inlineimage{
  position: relative;
}
.inlineimage.fullcenter .inlineimage-img{
  display: block;
  margin: auto;
}
.inlineimage.fullstretch .inlineimage-img{
  width: 100% !important;
}
.inlineimage.padleft{
  padding-left: 20px;
}
.inlineimage.padright{
  padding-right: 20px;
}
.inlineimage.padtop{
  padding-top: 20px;
}
.inlineimage.padbottom{
  padding-bottom: 20px;
}
.inlineimage a.active{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
