<form class="pure-form pure-form-stacked focus" action="/contact-us/" method="post" {% if request.path == '/contact-us/inline/' %}onsubmit="$('.modaal-container').css('display','none');$('.modal-loading').css('display','block').css('z-index','9999')" {% endif %}>
  {% csrf_token %}
  <div class="input-field">
    <span class="md-person prefix" aria-hidden="true"></span>
    <label class="active" for="{{ form.message_to.id_for_label}}">Message To</label>
    {{ form.message_to }}
    {{ form.message_to.errors }}
  </div>
  <div class="input-field">
    <span class="md-person prefix" aria-hidden="true"></span>
    <label for="{{ form.your_name.id_for_label}}">Your Name</label>
    {{ form.your_name }}
    {{ form.your_name.errors }}
  </div>
  <div class="input-field">
    <span class="md-mail prefix" aria-hidden="true"></span>
    <label for="{{ form.your_email.id_for_label}}">Your Email</label>
    {{ form.your_email }}
    {{ form.your_email.errors }}
  </div>
  <div class="input-field">
    <span class="md-pencil prefix" aria-hidden="true"></span>
    <label for="{{ form.message_subject.id_for_label}}">Message Subject</label>
    {{ form.message_subject }}
    {{ form.message_subject.errors }}
  </div>
  <div class="input-field">
    <span class="md-message prefix" aria-hidden="true"></span>
    <label for="{{ form.your_message.id_for_label}}">Your Message</label>
    {{ form.your_message }}
    {{ form.your_message.errors }}
  </div>
  <div class="input-field hide" aria-hidden="true">
    <span class="material-icons prefix" aria-hidden="true">&#xE0C9;</span>
    <label for="{{ form.our_message.id_for_label}}">Our Message</label>
    {{ form.our_message }}
    {{ form.our_message.errors }}
  </div>
  {{ form.parent }}
  {{ form.primary_contact }}
  <div class="input-field">
    <span class="material-icons prefix" aria-hidden="true"></span>
    <button type="submit" class="pure-button pure-button-primary modal-action modal-close">
      <span class="sr-only">Submit page feedback form.</span>
      <span class="no-sr" aria-hidden="true">Submit</span>
    </button>
    {% if request.path == '/contact-us/inline/' %}
    <a href="#" onclick="$('.pagefeedback').modaal('close'); return false;" class="modal-action modal-close waves-effect waves-green btn-flat ">
      <span class="sr-only">Cancel page feedback form and close dialog.</span>
      <span class="no-sr" aria-hidden="true">Cancel</span>
    </a>
  {% endif %}
  </div>
</form>
