{% extends "cmstemplates/innovate/layouts/contentmodal.html" %}
{% load verbose_names %}

{% block title %}
{% get_verbose_model_name page %}: {{page.title}}
{% endblock %}

{% block header1 %}
<h1>{% get_verbose_model_name page %}: {{page.title}}</h1>
{% endblock %}

{% block modalcontent %}
<div class="modal-content">
  <div class="modaal-ajax-content-area">
    <div id="ajaxtitle" class="modal-title">Document Languages</div>
    <p id="ajaxdesc" class="modal-desc sr-only">This document is available in the languages shown below. Please select a language. You can close this dialog by pressing escape at any time.</p>
    {% for file in page.files_file_node.all %}
    <a class="btn stretch" href="{{ file.url }}" target="_blank">
      <span class="sr-only">{{ file.title }}</span>
      <span class="notranslate no-sr" aria-hidden="true">{{ file.file_language.title }}</span>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}