/*
 * CSS Overwrites for Innovations
 * Grey: #333333
 * Yellow: #ffcc00
 * Blue:
*/

/*
 * CSS Overwrites for Innovations using Innovate Theme
 * Selector Prefix: html.innovations.innovate
*/
html.innovations.innovate .section-menu ul.nav-list li.active > a, html.innovations.innovate .sect1ion-menu ul.nav-list li.active > a:hover{
  border-left: 4px solid #ffcc00;
}
html.innovations.innovate .social-media a{
	background: #424242;
}
html.innovations.innovate .nav.navbar-nav{
	background: #424242;
	border-bottom: 3px solid #ffcc00;
}
html.innovations.innovate .nav.navbar-nav ul li.home-link a {
    color: #ffcc00;
}
html.innovations.innovate footer{
	background: #333;
	border-top: 3px solid #ffcc00;
}
