{% extends "cmstemplates/www_slcschools_org/layouts/contentrighttoc.html" %}
{% load static mptt_tags relink %}

{% block title %}
  {{page.title}}
{% endblock %}

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div id="toc" class="card-content z-depth-1">
  <div class="card-title modal-title slcschools-grey lighten-1 white-text">Table of Contents</div>
  <a href="/contact-us/inline/?pid={{ page.uuid }}" class="btn btn-wrap btn-stretch pagefeedback uninit" onclick="$('.inlinemodal').modaal('close');">Contact Us</a>
  <div class="table-of-contents">
    <ul>
      {% if page.body != '' and page.body is not None %}
      <li><a href="#about" onclick="$('.inlinemodal').modaal('close');">About</a></li>
      {% endif %}
      {% if page.directoryentries_administrator_node.all %}
      <li><a href="#administration" onclick="$('.inlinemodal').modaal('close');">Administration</a></li>
      {% endif %}
      {% if page.directoryentries_staff_node.all or page.departments_departmentsubpagestaff_department.all%}
      <li><a href="#staff" onclick="$('.inlinemodal').modaal('close');">Staff</a></li>
      {% endif %}
      {% if page.links_resourcelink_node.all or page.documents_document_node.all %}
      <li><a href="#resourcelinks" onclick="$('.inlinemodal').modaal('close');">Resources</a></li>
      {% endif %}
      {% if  page.content_type == 'department' and page.parent.content_type == 'department' or department_children %}
      <li><a href="#relateddepartments" onclick="$('.inlinemodal').modaal('close');">Departments / Programs</a></li>
      {% endif %}
      {% if page.pages_subpage_node.all %}
      <li><a href="#pages" onclick="$('.inlinemodal').modaal('close');">Pages</a></li>
      <ul>
      {% for department_subpage in page.pages_subpage_node.all %}
        <li><a href="{{ department_subpage.url }}"onclick="$('.inlinemodal').modaal('close');" >{{ department_subpage.title }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
      {% if request.path == '/departments/communications-and-community-relations/district-logo/' %}
      {% if districtlogos.primary %}
      <li><a href="#primary" onclick="$('.inlinemodal').modaal('close');">Primary Logo</a></li>
      {% endif %}
      {% if districtlogos.primaryrev %}
      <li><a href="#primaryrev" onclick="$('.inlinemodal').modaal('close');">Primary Logo Reversed</a></li>
      {% endif %}
      {% if districtlogos.secondary %}
      <li><a href="#secondary" onclick="$('.inlinemodal').modaal('close');">Secondary Logo</a></li>
      {% endif %}
      {% if districtlogos.secondaryrev %}
      <li><a href="#secondaryrev" onclick="$('.inlinemodal').modaal('close');">Secondary Logo Reversed</a></li>
      {% endif %}
      {% if districtlogos.wordmark %}
      <li><a href="#wordmark" onclick="$('.inlinemodal').modaal('close');">Wordmark</a></li>
      {% endif %}
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
{% if page.images_contentbanner_node.all %}
<div class="card">
  <div class="unslider slcschools-grey darken-1">
    <ul class="slides">
      {% for bannerimage in page.images_contentbanner_node.all %}
      <li class="slide">
        <img src="{{bannerimage.url }}" alt="{{bannerimage.alttext}}" />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
<div class="card">
  <a href="#toc" class="mobile-table-of-contents hide-on-med-and-up btn btn-wrap btn-stretch inlinemodal uninit"><span aria-hidden="true" class="material-icons left">&#xE8EF;</span><span>Table of Contents / Contact</span></a>
  <div id="main" class="card-content">
    <h1>{{page.title}}</h1>
    {% include "cmstemplates/www_slcschools_org/blocks/actionbuttons.html" %}
    {% if page.body != '' and page.body is not None %}
    <div class="row">
      <div id="about" class="richtext scrollspy">
        <h2 class="sr-only">About</h2>
        <div class="body">
          {{page.body|safe|relink}}
        </div>
      </div>
    </div>
    {% endif %}
    {% if page.directoryentries_administrator_node.all %}
    <div class="row">
      <div id="administration" class="scrollspy contactcardlist">
        <h2>Administration</h2>
        {% for admin in page.directoryentries_administrator_node.all %}
        {% include "cmstemplates/www_slcschools_org/blocks/admindirectorylist.html" %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if page.directoryentries_staff_node.all or page.departments_departmentsubpagestaff_department.all%}
    <div class="row">
      <div id="staff" class="scrollspy contactcardlist">
        <h2>Staff</h2>
        <table class="striped highlighted mobileblock">
          <thead>
            <tr>
              <th>Name</th>
              <th>Title</th>
              <th>Contact</th>
            </tr>
          </thead>
          <tbody>
        {% for staff in page.directoryentries_staff_node.all %}
            <tr>
              <td class="name">{{ staff.employee.first_name }} {{ staff.employee.last_name }}</td>
              <td class="title">{{ staff.employee.job_title }}</td>
              <td class="contact rowaction">
                <a href="/contact-us/inline/?pid={{ page.uuid }}&cid={{staff.employee.pk}}" class="btn-flat right narrow pagefeedback">
                  <span class="material-icons" aria-hidden="true">&#xE163;</span>
                  <span class="sr-only">Send {{ staff.employee.first_name }} {{ staff.employee.last_name }} a Message</span>
                </a>
              </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        {% for staff in page.departments_departmentsubpagestaff_department.all %}
        <div class="card horizontal">
          <div class="card-image">
            <img src="{% if staff.employee.users_userprofileimage_user.image %}/{{staff.employee.users_userprofileimage_user.image}}{% else %}/users/images/placeholder.jpg{% endif %}" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5 class="contactcardname">{{ staff.employee.first_name }} {{ staff.employee.last_name }}</h5>
              <strong>{{ staff.position }}</strong> <br />
               {% if staff.main_phone %}
               <a href="tel:+{{staff.main_phone|slice:"0:1"}}-{{staff.main_phone|slice:"1:4"}}-{{staff.main_phone|slice:"4:7"}}-{{staff.main_phone|slice:"7:11"}}">
                <i class="material-icons tiny black-text">&#xE0CD;</i> {{staff.main_phone|slice:"1:4"}}.{{staff.main_phone|slice:"4:7"}}.{{staff.main_phone|slice:"7:11"}}
               </a>
               {% endif %}
            </div>
            <div class="card-action">
              {% if staff.contact_form %}
              <a href="/contact-us/inline/?pid={{ page.uuid }}&cid={{staff.employee.pk}}" class="btn-flat right narrow pagefeedback">
                <span class="material-icons left" aria-hidden="true">&#xE254;</span>
                <span class="sr-only">Send {{ staff.employee.first_name }} {{ staff.employee.last_name }} A Message</span>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if page.links_resourcelink_node.all or page.documents_document_node.all %}
    <div class="row">
      <div id="resourcelinks" class="scrollspy">
        <h2>Resources</h2>
        <div class="collection">
          {% for resourcelink in page.links_resourcelink_node.all %}
          <a href="{{ resourcelink.link_url }}" class="collection-item">{{ resourcelink.title }} <span class="material-icons right">&#xE157;</span></a>
          {% endfor %}
          {% for document in page.documents_document_node.all %}
          {% include "cmstemplates/www_slcschools_org/blocks/document.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if page.departments_departmentdocument_department.all %}
    <div class="row">
      <h2>Documents</h2>
      <div id="documents" class="scrollspy">
        <div class="collection">
          {% for document in page.departments_departmentdocument_department.all %}
          <a href="#{{ document.uuid }}" title="{{ document.title }}" class="collection-item">{{ document.title }} <i class="material-icons right">&#xE2C4;</i></a>
          <div id="{{ document.uuid }}" class="modal modal-fixed-footer" style="width: 300px; height: 500px;">
            <div class="modal-content">
              <div class="collection">
                {% for file in document.departments_departmentdocumentfile_document.all %}
                <a class="collection-item" href="/{{ file.file }}">{{ file.language.native_language }} <i class="material-icons right">&#xE2C4;</i></a>
                {% endfor %}
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if  page.content_type == 'department' and page.parent.content_type == 'department' or department_children %}
    <div class="row">
      <h2>Departments / Programs</h2>
      <div id="relateddepartments" class="scrollspy">
        <table class="striped">
          {% if page.parent.content_type == 'department' %}
          <thead>
              <th>Parent Department / Program</th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{{ page.parent.page.department.url }}" title="{{ page.parent.page.department.title }}">{{ page.parent.page.department.title  }}</a>{% if page.parent.page.department.short_description %} <a href="#!" class="short_description tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ page.parent.page.department.short_description }}"><i class="material-icons tiny">info_outline</i></a>{% endif %}</td>
              <td>
                <a href="tel:+{{page.parent.page.department.main_phone|slice:'0:1'}}-{{page.parent.page.department.main_phone|slice:'1:4'}}-{{page.parent.page.department.main_phone|slice:'4:7'}}-{{page.parent.page.department.main_phone|slice:'7:11'}}">
                  <i class="material-icons tiny black-text">&#xE0CD;</i> {{page.parent.page.department.main_phone|slice:"1:4"}}.{{page.parent.page.department.main_phone|slice:"4:7"}}.{{page.parent.page.department.main_phone|slice:"7:11"}}
                </a>
              </td>
              <td>
                <a href="{{ page.parent.page.department.building_location.google_place }}" target="_blank">
                  <i class="material-icons tiny black-text">&#xE55F;</i> {{ page.parent.page.department.building_location.street_address }}<br>
                  <i class="material-icons tiny blank black-text"></i> {{ page.parent.page.department.building_location.location_city }}, {{ page.parent.page.department.building_location.location_state }} {{ page.parent.page.department.building_location.location_zipcode }}<br>
                </a>
              </td>
            </tr>
          </tbody>
          {% endif %}
          {% if department_children %}
          <thead>
            <tr>
              <th>Sub Department / Program</th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            {% for child in department_children %}
            {% if child.content_type == 'department' %}
            <tr>
              <td><a href="{{ child.url }}" title="{{ child.title }}">{{ child.title  }}</a>{% if child.short_description %} <a href="#!" class="short_description tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ child.short_description }}"><i class="material-icons tiny">info_outline</i></a>{% endif %}</td>
              <td>
                <a href="tel:+{{child.main_phone|slice:'0:1'}}-{{child.main_phone|slice:'1:4'}}-{{child.main_phone|slice:'4:7'}}-{{child.main_phone|slice:'7:11'}}">
                  <i class="material-icons tiny black-text">&#xE0CD;</i> {{child.main_phone|slice:"1:4"}}.{{child.main_phone|slice:"4:7"}}.{{child.main_phone|slice:"7:11"}}
                </a>
              </td>
              <td>
                <a href="{{ child.building_location.google_place }}" target="_blank">
                  <i class="material-icons tiny black-text">&#xE55F;</i> {{ child.building_location.street_address }}<br>
                  <i class="material-icons tiny blank black-text"></i> {{ child.building_location.location_city }}, {{ child.building_location.location_state }} {{ child.building_location.location_zipcode }}<br>
                </a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
          {% endif %}
        </table>
      </div>
    </div>
    {% endif %}
    {% if request.path == '/departments/communications-and-community-relations/district-logo/' %}
      {% if districtlogos.primary %}
      <div class="row">
        <div id="primary" class="scrollspy">
          <h2>Primary Logo</h2>
          {% for logo in districtlogos.primary %}
          {% include 'cmstemplates/www_slcschools_org/blocks/districtlogocard.html' %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if districtlogos.primaryrev %}
      <div class="row">
        <div id="primaryrev" class="scrollspy">
          <h2>Primary Logo Reversed</h2>
          {% for logo in districtlogos.primaryrev %}
          {% include 'cmstemplates/www_slcschools_org/blocks/districtlogocard.html' %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if districtlogos.secondary %}
      <div class="row">
        <div id="secondary" class="scrollspy">
          <h2>Secondary Logo</h2>
          {% for logo in districtlogos.secondary %}
          {% include 'cmstemplates/www_slcschools_org/blocks/districtlogocard.html' %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if districtlogos.secondaryrev %}
      <div class="row">
        <div id="secondaryrev" class="scrollspy">
          <h2>Secondary Logo Reversed</h2>
          {% for logo in districtlogos.secondaryrev %}
          {% include 'cmstemplates/www_slcschools_org/blocks/districtlogocard.html' %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if districtlogos.wordmark %}
      <div class="row">
        <div id="wordmark" class="scrollspy">
          <h2>Wordmark</h2>
          {% for logo in districtlogos.wordmark %}
          {% include 'cmstemplates/www_slcschools_org/blocks/districtlogocard.html' %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endif %}
  </div>
  {{ block.super }}
</div>
  {% endblock %}
