{% extends "cmstemplates/www_slcschools_org/layouts/contentrighttoc.html" %}
{% load static mptt_tags relink %}

{% block title %}
  {{page.title}}
{% endblock %}

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div id="toc" class="card-content z-depth-1">
  <div class="card-title modal-title slcschools-grey lighten-1 white-text">Table of Contents</div>
  <a href="/contact-us/inline/?pid={{ page.uuid }}" class="btn btn-wrap btn-stretch pagefeedback uninit" onclick="$('.inlinemodal').modaal('close');">Contact Us</a>
  <div class="table-of-contents">
    <ul>
      <li><a href="#about" onclick="$('.inlinemodal').modaal('close');">About</a></li>
      {% if page.schooloptions.all %}
      <li><a href="#learningoptions" onclick="$('.inlinemodal').modaal('close');">Learning Options</a></li>
      {% endif %}
      {% if page.directoryentries_schooladministrator_node.all %}
      <li><a href="#administration" onclick="$('.inlinemodal').modaal('close');">Administration</a></li>
      {% endif %}
      {% if page.scc_url or page.links_resourcelink_node.all %}
      <li><a href="#resourcelinks" onclick="$('.inlinemodal').modaal('close');">Resources</a></li>
      {% endif %}
      {% if page.boundary_map %}
      <li><a href="#boundarymap" onclick="$('.inlinemodal').modaal('close');">Boundary Map</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block sidebar_second_mup %}
{% endblock %}

{% comment %}{% block breadcrumb %}
<div class="row">
  <nav class="slcschools-grey lighten-2">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" title="Home" class="breadcrumb">Home</a>
        {% for item in BREADCRUMB %}
        <a href="{{ item.url }}" title="{{ item.menu_title }}" class="breadcrumb">{{ item.menu_title }}</a>
        {% endfor %}
      </div>
    </div>
  </nav>
</div>
{% endblock %}{% endcomment %}

{% block content %}
{% if page.images_contentbanner_node.all %}
<div class="card">
  <div class="unslider slcschools-grey darken-1">
    <ul class="slides">
      {% for bannerimage in page.images_contentbanner_node.all %}
      <li class="slide">
        <img src="{{bannerimage.url }}" alt="{{bannerimage.alttext}}" />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
<div class="card">
  <a href="#toc" class="mobile-table-of-contents hide-on-med-and-up btn btn-wrap btn-stretch inlinemodal uninit"><span aria-hidden="true" class="material-icons left">&#xE8EF;</span><span>Table of Contents / Contact</span></a>
  <div class="card-content">
    <h1>{{page.title}}</h1>
    {% if page.openenrollmentstatus.title == "Open" %}
      <span class="tag green white-text" style="display: inline-block; padding: 5px;">Open Enrollment</span>
      {% elif page.openenrollmentstatus.title == "Closed" %}
      <span class="tag red white-text" style="display: inline-block; padding: 5px;">Closed Enrollment</span>
      {% endif %}
    <div class="row">
      <div id="about" class="richtext scrollspy">
        <h2 class="sr-only">About</h2>
        <div class="body">
          {{page.body|safe|relink}}
        </div>
      </div>
    </div>
    {% if page.schooloptions.all %}
    <div id="learningoptions" class="row scrollspy learningoptions">
      {% include "cmstemplates/www_slcschools_org/blocks/school-learning-options.html" %}
    </div>
    {% endif %}
    {% if page.directoryentries_schooladministrator_node.all %}
    <div class="row">
      <div id="administration" class="scrollspy contactcardlist">
        <h2>Administration</h2>
        {% for admin in page.directoryentries_schooladministrator_node.all %}
        {% include "cmstemplates/www_slcschools_org/blocks/admindirectorylist.html" %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if page.links_resourcelink_node.all %}
    <div class="row">
      <div id="resourcelinks" class="scrollspy resourcelinks">
        <h2>Resources</h2>
        <div class="collection">
          {% for resourcelink in page.links_resourcelink_node.all %}
          <a href="{{ resourcelink.link_url }}" class="collection-item{% if resourcelink.modal_ajax %} modal-ajax{% endif %}" {% if resourcelink.target_blank %}target="_blank"{% endif %}>
            {% if resourcelink.related_type == 'documents-document' and resourcelink.modal_ajax %}
            <span class="sr-only">Select Language for {{ resourcelink.title }}</span>
            <span class="no-sr" aria-hidden="True">
              {{ resourcelink.title }}
              <span class="notranslate right md-document"></span>
            </span>
            {% elif resourcelink.related_type == 'documents-document' %}
            <span class="sr-only">Open Document {{ resourcelink.title }}</span>
            <span class="no-sr" aria-hidden="True">
              {{ resourcelink.title }}
              <span class="notranslate right md-document"></span>
            </span>
            {% else %}
            <span class="sr-only">Goto {{ resourcelink.title }}</span>
            <span class="no-sr" aria-hidden="True">
              {{ resourcelink.title }}
              <span class="notranslate right md-linkvariant"></span>
            </span>
            {% endif %}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if page.boundary_map %}
    <div class="row">
      <div id="boundarymap" class="scrollspy">
        <h2>Boundary Map</h2>
        <iframe class="googlemap" width="850" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ page.boundary_map }}"></iframe>
      </div>
    </div>
    {% endif %}
  </div>
  {{ block.super }}
</div>
{% endblock %}
