/*
 * CSS Overwrites for Horizonte
*/

/*
 * CSS Overwrites for Horizonte using Inspire Theme
 * Selector Prefix: html.horizonte.inspire
*/
html.horizonte.inspire .preheader.wrapper {
	background: #2a104d;
        background: #412666;
}
html.horizonte.inspire .header.wrapper .header{
	background: #ffcc21;
}
html.horizonte.inspire .brand{
  background: transparent;
}
html.horizonte.inspire .navbar{
	color: #000;
}
html.horizonte.inspire .widget-box .widget-title{
  border-color: #cfcfcf;
}
html.horizonte.inspire .widget-box .widget-inner{
  border: 1px solid #cfcfcf;
  background-color: #f5f5f5;
}
html.horizonte.inspire .widget-box a{
  background-color: #f5f5f5;
  color: #000 !important;
}
html.horizonte.inspire footer{
	background: #303030;
        background: #412666;
}
/* XS Styles */
@media screen and (max-width: 567px) {
}
/* SM Styles */
@media screen and (min-width: 568px) {
}
/* MD Styles */
@media screen and (min-width: 768px) {
}
/* LG Styles */
@media screen and (min-width: 1024px) {
	html.horizonte.inspire .brand{
	  background: #fff;
	}
.navbar ul li a{
  font-weight: 600;
}
}
/* XL Styles */
@media screen and (min-width: 1280px) {
}
