{% extends 'cmstemplates/innovate/base.html' %}
{% load static mptt_tags relink %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block precontent %}
<div class="pure-g">
	<div class="col pure-u-1">
		<div class="revslider" data-alias="home"></div>
	</div>
</div>
{% endblock %}

{% block main-content %}
<div class="col pure-u-md-2-3 pure-u-1">
	<h1 class="hide">{{ page.title }}</h1>
	<h2 class="hidden">Annoucements</h2>
	{% for annoucement in page.pages_announcement_node.all %}
	<h3>{{ annoucement.title }}</h3>
	<div class="announcement-body">
		{{ annoucement.body|safe|relink }}
	</div>
	{% empty %}
	<p>We do not have any annoucements at this time. Please check back soon.</p>
	{% endfor %}
</div>
<div class="col pure-u-md-1-3 pure-u-1">
	{% if page.links_actionbutton_node.all %}
	<p>
	{% for button in page.links_actionbutton_node.all %}
	<a class="pure-button pure-button-primary contact-button" href="{{ button.link_url }}">{{ button.title }}</a>
	{% endfor %}
	</p>
	{% endif %}
</div>
{% endblock %}
