{% extends 'cmstemplates/innovate/base.html' %}
{% load admin_urls %}

{% block main-content %}
<div class="col pure-u-lg-1-4 pure-u-md-1-3 pure-u-1">
	{% block main-content-left %}
	{% if in_this_section %}
    {%if SITEADMIN and section.pk %}
    <a id="editpagemodaal" href="{% url sectionopts|admin_urlname:'change' section.pk %}" class="pure-button pure-button-primary stretch editlink">
      <span class="sr-only">Edit Section Pages</span>
      <span class="md-pencil no-sr" aria-hidden="true"> Edit Section Pages</span>
    </a>
    {% endif %}
	<div class="section-menu">
      <ul class="nav nav-list">
        <li class="nav-header">In This Section</li>
        {% for item in in_this_section %}
        <li class="{% if page.url == item.url %} active{% endif %}">
        	<a href="{{ item.url }}" class="{% if forloop.counter == 1 %} first{% endif %}">{{ item.node_title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endblock %}
</div>
<div class="col pure-u-lg-3-4 pure-u-md-2-3 pure-u-1">
    {% block contentbanners %}{% endblock %}
	{% block header1 %}<h1>{{ page.title }}</h1>{% endblock %}
	{% block main-content-right %}
	{% endblock %}
</div>
{% endblock %}