    <div class="card horizontal">
      <div class="card-image">
        {% for profilepicture in admin.employee.images_profilepicture_node.all %}
        <img src="{{profilepicture.image_file.url}}" alt="{{profilepicture.alttext}}"/>
        {% empty %}
        <img src="/users/images/placeholder.jpg" alt="No Profile Picture" />
        {% endfor %}
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title contactcardname">{{ admin.employee.first_name }} {{ admin.employee.last_name }}</span>
          {% if pageopts.model_name == 'school' %}
          <strong>{{ admin.schooladministratortype }}</strong> <br />
          {% elif pageopts.model_name == 'department' %}
          <strong>{{ admin.job_title }}</strong> <br />
          {% endif %}
          {% if admin.phone %}
          <a href="tel:+{{admin.phone|slice:"0:1"}}-{{admin.phone|slice:"1:4"}}-{{admin.phone|slice:"4:7"}}-{{admin.phone|slice:"7:11"}}">
            <i class="material-icons tiny black-text">&#xE0CD;</i> {{admin.phone|slice:"1:4"}}.{{admin.phone|slice:"4:7"}}.{{admin.phone|slice:"7:11"}}
          </a>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="#">SEND ME A MESSAGE</a>
        </div>
      </div>
    </div>
