{% if school.schooloptions.all or page.schooloptions.all %}
<p>The learning options available at {% if school.title %}{{ school.title }}{% else %}{{ page.title }}{% endif %} include:</p>
<ul class="browser-default">
  {% for option in school.schooloptions.all %}
  <li class="{{option.pk}}">{{ option.title }}</li>
  {% endfor %}
  {% for option in page.schooloptions.all %}
  <li class="{{option.pk}}">{{ option.title }}</li>
  {% endfor %}
</ul>
<p><a href="https://www.slcschools.org/departments/educational-equity-and-student-support/student-services/school-choice/learning-option-descriptions/">Click here</a> for written descriptions of the options listed above.</p> 
<div class="sticky-action-push"></div>
{% else %}
<p>Learning options not listed at this time. Please check back soon.</p>
{% endif %}
