{% extends 'cmstemplates/dashboard/base.html' %}

{% block title %}Page Layouts{% endblock %}

{% block maincontent %}
<div class="col s12">
  <div class="card-panel">
    <div class="row">
      <h1 class="col s12">Page Layouts</h1>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Layouts</th>
            <th class="rowaction"><span class="sr-only">Edit</span><th>
          </tr>
        </thead>
        <tbody>
          {% for layout in pagelayouts %}
          <tr>
            <td><a href="{% url 'dashboard:pagelayoutschange' pagelayoutpk=layout.pk %}">{{ layout.title }}</a><br>{{ layout.namespace }}</td>
            <td class="rowaction">
              <a href="{% url 'dashboard:pagelayoutschange' pagelayoutpk=layout.pk %}">
                <span class="sr-only">Edit {{ layout.title }}</span>
                <span class="no-sr md-settings" aria-hidden="True"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'dashboard:pagelayoutsadd' %}" class="btn-floating btn-large waves-effect waves-light" style="position: fixed; bottom: 15px; right: 15px;"><span class="md-plus"></span></a>
    </div>
  </div>
</div>
{% endblock %}
