{% extends 'cmstemplates/dashboard/base.html' %}

{% block title %}Change Page Layout{% endblock %}

{% block maincontent %}
<div class="col s12">
  <div class="card-panel">
  	<div class="row">
  	  <h1 class="col s12">Change Page Layout</h1>
    </div>
    <div class="row">
	  	<form class="col s12 focus" action="" method="post">
		    {% csrf_token %}
		    <div class="input-field col s12">
		      <span class="md-filedocument prefix" aria-hidden="true"></span>
		      {{ pagelayoutschangeform.title.errors }}
		      {{ pagelayoutschangeform.title }}
		      <label for="{{ pagelayoutschangeform.title.id_for_label}}">Page Layout Name</label>
		    </div>
		    <div class="input-field col s12">
		      <span class="md-code-tags prefix" aria-hidden="true"></span>
		      {{ pagelayoutschangeform.namespace.errors }}
		      {{ pagelayoutschangeform.namespace }}
		      <label for="{{ pagelayoutschangeform.namespace.id_for_label}}">HTML File Name</label>
		    </div>
		    <div class="input-field col s12">
		      <span class="md-code-tags prefix" aria-hidden="true"></span>
		      {{ pagelayoutschangeform.allowed_sitetypes.errors }}
		      {{ pagelayoutschangeform.allowed_sitetypes }}
		      <label for="{{ pagelayoutschangeform.allowed_sitetypes.id_for_label}}">Allowed Site Types:</label>
		    </div>
		    <div class="input-field col s12">
		      <span class="material-icons prefix" aria-hidden="true"></span>
		      <button type="submit" class="waves-effect waves-green btn">
		        <span class="sr-only">Submit</span>
		        <span class="no-sr" aria-hidden="true">Submit</span>
		      </button>
		    </div>
		  </form>
		</div>
  </div>
</div>
{% endblock %}