{% extends "www_slcschools_org/contentrighttoc.html" %}
{% load static mptt_tags %}

{% block title %}
  {{ page.title }} Directory
{% endblock %} 

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div class="row">
  <div class="table-of-contents">
  <h2>Contents:</h2>
    <ul>
      <li><a href="#schools">{{schools.0.schooltype }} ({{ schools|length }})</a></li>
    </ul>
  </div>
</div>
{% endblock %}
{% block sidebar_second_mup %}
{% endblock %}

{% block content %}
<div class="card">
  <div class="mobile-table-of-contents hide-on-med-and-up">
    <select id="toc" class="browser-default z-depth-1">
      <option value="#!" disabled selected style="display:none;">Table of Contents</option>
      <option value="#schools">{{schools.0.parent}} ({{ schools|length }})</option>
    </select>
    <label for="toc" class="outofview">Table of Contents</label>
  </div>
  <div class="card-content">
    <h1>{{ page.title }} Directory</h1>
    <form class="textfieldboxes" action="javascript:void(0);" onsubmit="myFunction(); return false;">
      <div class="input-field">
        <input class="autocomplete" onkeyup="myFunction()" title="Search Schools" id="schoolsfilter" type="text">
        <label for="schoolsfilter">Search Schools</label>
        <button type="submit" class="btn tableSearchSubmit white-text" name="tableSearchSubmit"><span class="material-icons no-sr" aria-hidden="true">&#xE8B6;</span></button>
      </div>
    </form>
    <div id="schools" class="scrollspy filterpoint">
      <div class="row">
        {% for school in schools %}
        {% include "pages/schools/school_directory_card.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
  {{ block.super }}
</div>
{% endblock %}

{% block sidebar_second_s %}
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
function myFunction() {
  var input, filter, filterpoint;
  input = document.getElementById("schoolsfilter");
  filter = input.value.toUpperCase();
  school = document.getElementsByClassName("filterpoint");
  for (i = 0; i < school.length; i++) {
      if (school[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
        school[i].style.display = "";
      } else {
        school[i].style.display = "none";
      }
  }
}
</script>
{% endblock %}
