{% extends "www_slcschools_org/contentrighttoc.html" %}
{% load static mptt_tags %}

{% block title %}
  Department / Program Structure
{% endblock %}

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div id="toc" class="card-content z-depth-1">
  <div class="card-title modal-title slcschools-grey lighten-1 white-text">Table of Contents</div>
  <a href="/contact-us/inline/?pid={{ page.uuid }}" class="btn btn-wrap btn-stretch pagefeedback uninit" onclick="$('.inlinemodal').modaal('close');">Contact Us</a>
  <div class="table-of-contents">
    <ul>
      <li><a href="#departments" onclick="$('.inlinemodal').modaal('close');">Department / Program Structure</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <a href="#toc" class="mobile-table-of-contents hide-on-med-and-up btn btn-wrap btn-stretch inlinemodal uninit"><span aria-hidden="true" class="material-icons left">&#xE8EF;</span><span>Table of Contents / Contact</span></a>
  <div id="main" class="card-content">
    <h1>Department / Program Structure</h1>
<!--     <form class="textfieldboxes" action="javascript:void(0);" onsubmit="myFunction(); return false;">
      <div class="input-field">
        <input class="autocomplete" onkeyup="myFunction()" title="Search Departments, Programs, and Services" id="tableSearch" type="text">
        <label for="tableSearch">Search Departments, Programs, and Services</label>
        <button type="submit" class="btn tableSearchSubmit white-text" name="tableSearchSubmit"><span class="material-icons no-sr" aria-hidden="true">&#xE8B6;</span></button>
      </div>
    </form> -->
    {% if page.body != '' and page.body is not None %}
    <div class="row">
      <div id="about" class="richtext scrollspy">
        <h2 class="sr-only">About</h2>
        <div class="body">
          {{page.body|safe}}
        </div>
      </div>
    </div>
    {% endif %}
    <div>
      <div class="row">
        <table id="searchTable" class="highlight tree">
<!--           <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Location</th>
            </tr>
          </thead> -->
          <tbody id="departments" class="scrollspy searchTableBody">
            {% for department in departments %}
            <tr class="treegrid-{{department.pk}} {% if department.parent.node_title != 'Departments' %}treegrid-parent-{{ department.parent.pk }}{% endif %}">
              <td>{{department.title}}</td>
              <td>
                <a href="{{ department.building_location.google_place }}" target="_blank">
                  <i class="material-icons tiny black-text">&#xE55F;</i> {{ department.building_location.street_address }}<br>
                  <i class="material-icons tiny blank black-text"></i> {{ department.building_location.location_city }}, {{ department.building_location.location_state }} {{ department.building_location.location_zipcode }}<br>
                </a>
                <a href="tel:+{{department.main_phone|slice:'0:1'}}-{{department.main_phone|slice:'1:4'}}-{{department.main_phone|slice:'4:7'}}-{{department.main_phone|slice:'7:11'}}">
                  <i class="material-icons tiny black-text">&#xE0CD;</i> {{department.main_phone|slice:"1:4"}}.{{department.main_phone|slice:"4:7"}}.{{department.main_phone|slice:"7:11"}}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{ block.super }}
</div>
{% endblock %}

{% block sidebar_second_s %}
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
// function myFunction() {
//   var input, filter, table, tbody, tr, td, i;
//   input = document.getElementById("tableSearch");
//   filter = input.value.toUpperCase();
//   table = document.getElementById("searchTable");
//   tr = table.getElementsByTagName("tr");
//   for (i = 0; i < tr.length; i++) {
//       if (tr[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
//         tr[i].style.display = "";
//       } else {
//         tr[i].style.display = "none";
//       }       
//   }
// }
$('.tree').treegrid({initialState:'collapsed',expanderExpandedClass:'md-chevron-up',expanderCollapsedClass:'md-chevron-down',indentTemplate: '<span class="treegrid-indent"><hr/></span>'});
</script>
{% endblock %}
