{% extends "www_slcschools_org/contentrighttoc.html" %}
{% load static mptt_tags %}

{% block title %}
  {{ page.title }} Directory
{% endblock %}

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div class="card-content z-depth-1">
  <div class="card-title slcschools-grey lighten-1 white-text">Table of Contents</div>
  <a href="/contact-us/inline/?pid={{ page.uuid }}" class="btn btn-wrap btn-stretch pagefeedback">Contact Us</a>
  <div class="table-of-contents">
    <ul>
      <li><a href="#departments">Departments ({{ departments.departments|length }})</a></li>
      <li><a href="#programs">Sub-Departments, Programs, and Services ({{ departments.programs|length }})</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <div class="mobile-table-of-contents hide-on-med-and-up">
    <select class="browser-default z-depth-1">
      <option value="#!" disabled selected style="display:none;">Table of Contents</option>
      <option value="#departments">Departments ({{ departments.departments|length }})</option>
      <option value="#programs">Departments ({{ departments.programs|length }})</option>
    </select>
  </div>
  <div id="main" class="card-content">
    <h1>Alphabetical Directory</h1>
    <form class="textfieldboxes" action="javascript:void(0);" onsubmit="myFunction(); return false;">
      <div class="input-field">
        <input class="autocomplete" onkeyup="myFunction()" title="Search Departments, Programs, and Services" id="tableSearch" type="text">
        <label for="tableSearch">Search Departments, Programs, and Services</label>
        <button type="submit" class="btn tableSearchSubmit white-text" name="tableSearchSubmit"><span class="material-icons no-sr" aria-hidden="true">&#xE8B6;</span></button>
      </div>
    </form>
    <div>
      <div class="row">
        <table id="searchTable" class="striped highlight mobileblock">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody id="departments" class="scrollspy searchTableBody">
            <tr>
              <td colspan="3" class="slcschools-grey white-text">Departments</td>
            </tr>
            {% for department in departments.departments %}
            {% include "pages/departments/departmenttable.html" %}
            {% endfor %}
          </tbody>
          <tbody id="programs" class="scrollspy searchTableBody">
            <tr>
              <td colspan="3" class="slcschools-grey white-text">Sub-Departments, Programs, and Services</td>
            </tr>
            {% for department in departments.programs %}
            {% include "pages/departments/departmenttable.html" %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{ block.super }}
</div>
{% endblock %}

{% block sidebar_second_s %}
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
function myFunction() {
  var input, filter, table, tbody, tr, td, i;
  input = document.getElementById("tableSearch");
  filter = input.value.toUpperCase();
  table = document.getElementById("searchTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
      if (tr[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }       
  }
}
</script>
{% endblock %}
