{% extends "www_slcschools_org/contentrighttoc.html" %}
{% load static mptt_tags %}

{% block title %}
  {{page.title}}
{% endblock %}

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div class="row ">
  <div class="table-of-contents">
    <h5>Contents:</h5>
    <ul>
      {% if page.body != '' %}
      <li><a href="#about">About</a></li>
      {% endif %}
      {%if page.building_location or page.main_phone or page.main_fax %}
      <li><a href="#contact">Contact</a></li>
      {% endif %}
      {% if page.directoryentries_staff_node.all or page.departments_departmentsubpagestaff_department.all%}
      <li><a href="#staff">Staff</a></li>
      {% endif %}
      {% if page.links_resourcelink_node.all or page.documents_document_node.all %}
      <li><a href="#resourcelinks">Resources</a></li>
      {% endif %}
      {% if  page.content_type == 'department' and page.parent.content_type == 'department' or department_children %}
      <li><a href="#relateddepartments">Departments / Programs</a></li>
      {% endif %}
      {% if department_subpages %}
      <li><a href="#pages">Pages</a></li>
      <ul>
      {% for department_subpage in department_subpages %}
        <li><a href="{{ department_subpage.url }}" title="{{ department_subpage.title }}">{{ department_subpage.title }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
{% if page.images_contentbanner_node.all %}
<div class="card">
  <div class="unslider slcschools-grey darken-1">
    <ul class="slides">
      {% for bannerimage in page.images_contentbanner_node.all %}
      <li class="slide">
        <img src="{{bannerimage.image_file.url }}" alt="{{bannerimage.alttext}}" />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
<div class="card">
  <div class="input-field mobile-table-of-contents hide-on-med-and-up">
    <select class="browser-default z-depth-1">
      <option value="#!" disabled selected style="display:none;">Table of Contents</option>
      {% if page.body != '' %}
      <option value="#about">About</option>
      {% endif %}
      {%if page.building_location or page.main_phone or page.main_fax %}
      <option value="#contact">Contact</option>
      {% endif %}
      {% if page.directoryentries_staff_node.all or page.departments_departmentsubpagestaff_department.all%}
      <option value="#staff">Staff</option>
      {% endif %}
      {% if page.links_resourcelink_node.all or page.documents_document_node.all %}
      <option value="#resourcelinks">Resources</option>
      {% endif %}
      {% if  page.content_type == 'department' and page.parent.content_type == 'department' or department_children %}
      <option value="#relateddepartments">Departments / Programs</option>
      {% endif %}
      {% if department_subpages %}
      <option value="#pages">Pages</option>
      {% for department_subpage in department_subpages %}
      <option class="page" value="{{ department_subpage.url }}" title="{{ department_subpage.title }}">-- {{ department_subpage.title }}</option>
      {% endfor %}
      {% endif %}
    </select>
  </div>
  <div id="main" class="card-content">
    <h1>{{page.title}}</h1>
    {% if page.body != '' %}
    <div class="row">
      <div id="about" class="richtext scrollspy">
        <div class="body">
          {{page.body|safe}}
        </div>
      </div>
    </div>
    {% endif %}
    {%if page.building_location or page.main_phone or page.main_fax %}
    <div class="row">
      <div id="contact" class="scrollspy">
        <h2>Contact</h2>
        <div class="card primarycontact">
          <div class="card-content">
            <div class="collection">
              <a href="{{page.building_location.google_place}}" class="collection-item">
                <span class="title">Address</span>
                <address class="address">
                  <p class="streetaddress">{{page.building_location.street_address}} <br />
                                           {{page.building_location.location_city}}, {{page.building_location.location_state}} {{page.building_location.location_zipcode}}
                  </p>
                </address>
                <i class="material-icons secondary-content absolute-right small">&#xE55F;</i>
              </a>
              <a href="tel:+{{page.main_phone|slice:"0:1"}}-{{page.main_phone|slice:"1:4"}}-{{page.main_phone|slice:"4:7"}}-{{page.main_phone|slice:"7:11"}}" class="collection-item">
                <span class="title">Phone</span>
                <div class="mainphone">{{page.main_phone|slice:"1:4"}}.{{page.main_phone|slice:"4:7"}}.{{page.main_phone|slice:"7:11"}}</div>
                <i class="material-icons secondary-content absolute-right small">&#xE0CD;</i>
              </a>
              {% if page.main_fax %}
              <a href="#!" class="collection-item">
                <span class="title">Fax</span>
                <div class="mainfax">{{page.main_fax|slice:"1:4"}}.{{page.main_fax|slice:"4:7"}}.{{page.main_fax|slice:"7:11"}}</div>
                <i class="material-icons secondary-content absolute-right small">&#xE8AD;</i>
              </a>
              {% endif %}
            </div>
          </div>
          <div class="card-action">
            <a href="#">Send Us A Message</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if page.directoryentries_staff_node.all or page.departments_departmentsubpagestaff_department.all%}
    <div class="row">
      <div id="staff" class="scrollspy contactcardlist">
        <h2>Staff</h2>
        <table class="striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Job Title</th>
              <th>Contact</th>
            </tr>
          </thead>
          <tbody>
        {% for staff in page.directoryentries_staff_node.all %}
            <tr>
              <td>{{ staff.employee.first_name }} {{ staff.employee.last_name }}</td>
              <td>{{ staff.job_title }}</td>
              <td><a href="#">SEND ME A MESSAGE</a></td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        {% for staff in page.departments_departmentsubpagestaff_department.all %}
        <div class="card horizontal">
          <div class="card-image">
            <img src="{% if staff.employee.users_userprofileimage_user.image %}/{{staff.employee.users_userprofileimage_user.image}}{% else %}/users/images/placeholder.jpg{% endif %}" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5 class="contactcardname">{{ staff.employee.first_name }} {{ staff.employee.last_name }}</h5>
              <strong>{{ staff.position }}</strong> <br />
               {% if staff.main_phone %}
               <a href="tel:+{{staff.main_phone|slice:"0:1"}}-{{staff.main_phone|slice:"1:4"}}-{{staff.main_phone|slice:"4:7"}}-{{staff.main_phone|slice:"7:11"}}">
                <i class="material-icons tiny black-text">&#xE0CD;</i> {{staff.main_phone|slice:"1:4"}}.{{staff.main_phone|slice:"4:7"}}.{{staff.main_phone|slice:"7:11"}}
               </a>
               {% endif %}
            </div>
            <div class="card-action">
              {% if staff.contact_form %}
              <a href="#">SEND ME A MESSAGE</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if page.links_resourcelink_node.all or page.documents_document_node.all %}
    <div class="row">
      <div id="resourcelinks" class="scrollspy">
        <h2>Resources</h2>
        <div class="collection">
          {% for resourcelink in page.links_resourcelink_node.all %}
          <a href="{{ resourcelink.link_url }}" class="collection-item">{{ resourcelink.title }} <i class="material-icons right">&#xE157;</i></a>
          {% endfor %}
          {% for document in page.documents_document_node.all %}
          <a href="#{{ document.pk }}" class="collection-item document-inline">{{ document.title }} <i class="material-icons right">&#xE157;</i></a>
          <div id="{{ document.pk }}" class="hide">
            <div id="{{ document.pk }}-title" class="modal-title">Document Languages</div>
            <p id="{{ document.pk }}-desc" class="modal-desc">This document is available in the languages shown below. Please select a language. You can close this dialog by pressing escape at any time.</p>
            {% for file in document.files_file_node.all %}
              <a class="btn stretch" href="{{ file.file_file.url }}">
                  <span class="sr-only">{{ file.title }}</span>
                  <span class="notranslate no-sr" aria-hidden="true">{{ file.file_language.title }}</span>
                </a>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if page.departments_departmentdocument_department.all %}
    <div class="row">
      <h2>Documents</h2>
      <div id="documents" class="scrollspy">
        <div class="collection">
          {% for document in page.departments_departmentdocument_department.all %}
          <a href="#{{ document.uuid }}" title="{{ document.title }}" class="collection-item">{{ document.title }} <i class="material-icons right">&#xE2C4;</i></a>
          <div id="{{ document.uuid }}" class="modal modal-fixed-footer" style="width: 300px; height: 500px;">
            <div class="modal-content">
              <div class="collection">
                {% for file in document.departments_departmentdocumentfile_document.all %}
                <a class="collection-item" href="/{{ file.file }}">{{ file.language.native_language }} <i class="material-icons right">&#xE2C4;</i></a>
                {% endfor %}
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if  page.content_type == 'department' and page.parent.content_type == 'department' or department_children %}
    <div class="row">
      <h2>Departments / Programs</h2>
      <div id="relateddepartments" class="scrollspy">
        <table class="striped">
          {% if page.parent.content_type == 'department' %}
          <thead>
              <th>Parent Department / Program</th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{{ page.parent.page.department.url }}" title="{{ page.parent.page.department.title }}">{{ page.parent.page.department.title  }}</a>{% if page.parent.page.department.short_description %} <a href="#!" class="short_description tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ page.parent.page.department.short_description }}"><i class="material-icons tiny">info_outline</i></a>{% endif %}</td>
              <td>
                <a href="tel:+{{page.parent.page.department.main_phone|slice:'0:1'}}-{{page.parent.page.department.main_phone|slice:'1:4'}}-{{page.parent.page.department.main_phone|slice:'4:7'}}-{{page.parent.page.department.main_phone|slice:'7:11'}}">
                  <i class="material-icons tiny black-text">&#xE0CD;</i> {{page.parent.page.department.main_phone|slice:"1:4"}}.{{page.parent.page.department.main_phone|slice:"4:7"}}.{{page.parent.page.department.main_phone|slice:"7:11"}}
                </a>
              </td>
              <td>
                <a href="{{ page.parent.page.department.building_location.google_place }}" target="_blank">
                  <i class="material-icons tiny black-text">&#xE55F;</i> {{ page.parent.page.department.building_location.street_address }}<br>
                  <i class="material-icons tiny blank black-text"></i> {{ page.parent.page.department.building_location.location_city }}, {{ page.parent.page.department.building_location.location_state }} {{ page.parent.page.department.building_location.location_zipcode }}<br>
                </a>
              </td>
            </tr>
          </tbody>
          {% endif %}
          {% if department_children %}
          <thead>
            <tr>
              <th>Sub Department / Program</th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            {% for child in department_children %}
            {% if child.content_type == 'department' %}
            <tr>
              <td><a href="{{ child.url }}" title="{{ child.title }}">{{ child.title  }}</a>{% if child.short_description %} <a href="#!" class="short_description tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ child.short_description }}"><i class="material-icons tiny">info_outline</i></a>{% endif %}</td>
              <td>
                <a href="tel:+{{child.main_phone|slice:'0:1'}}-{{child.main_phone|slice:'1:4'}}-{{child.main_phone|slice:'4:7'}}-{{child.main_phone|slice:'7:11'}}">
                  <i class="material-icons tiny black-text">&#xE0CD;</i> {{child.main_phone|slice:"1:4"}}.{{child.main_phone|slice:"4:7"}}.{{child.main_phone|slice:"7:11"}}
                </a>
              </td>
              <td>
                <a href="{{ child.building_location.google_place }}" target="_blank">
                  <i class="material-icons tiny black-text">&#xE55F;</i> {{ child.building_location.street_address }}<br>
                  <i class="material-icons tiny blank black-text"></i> {{ child.building_location.location_city }}, {{ child.building_location.location_state }} {{ child.building_location.location_zipcode }}<br>
                </a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
          {% endif %}
        </table>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="card-action">
    <a class="btn-flat disabled narrow" title="Last Updated"><i class="material-icons left">&#xE192;</i>{{ page.update_date|date:"N d, Y" }}</a>
    <a href="#{{ page.uuid }}" class="btn-flat right narrow pagefeedback" title="Page Feedback"><i class="material-icons left">&#xE254;</i>Page Feedback</a>
  </div>
</div>
  {% endblock %}
