{% extends 'cmstemplates/inspire/base.html' %}
{% load admin_urls %}

{% block main-content %}
<div class="col pure-u-lg-1-4 pure-u-md-1-3 pure-u-1">
	{% if in_this_section %}
	<div class="widget-container widget-box">
		<div class="widget-title">In This Section</div>
		<div class="widget-inner">
			{%if SITEADMIN %}
			<a id="editpagemodaal" href="{% url pageopts|admin_urlname:'change' page.parent.pk %}" class="pure-button narrow editlink">
              <span class="sr-only">Edit Section Pages</span>
              <span class="md-pencil no-sr" aria-hidden="true"> Edit Section Pages</span>
            </a>
			{% endif %}
			<ul>
				{% for item in in_this_section %}
				<li>
					<a href="{{ item.url }}">{{ item.node_title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
</div>
<div class="col pure-u-lg-3-4 pure-u-md-2-3 pure-u-1">
	{% block contentbanners %}{% endblock %}
	{% block header1 %}<h1>{{ page.title }}</h1>{% endblock %}
	{% block main-content-right %}
	{% endblock %}
</div>
{% endblock %}