{% load static mptt_tags guardian_tags admin_urls object_permissions pipeline relink %}
<!DOCTYPE html>
<html class="{% if request.site.dashboard_general_site.namespace %}{{ request.site.dashboard_general_site.namespace }} {% endif %}{% if request.site.dashboard_general_site.template.namespace %}{{ request.site.dashboard_general_site.template.namespace }} {% endif %}no-js" lang="en">
  <head>
    <title>{% block title %}{% endblock %} | {{ request.site.dashboard_general_site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="site" content="{{ request.site.dashboard_general_site.title }}" />
    <meta name="template" content="{{ request.site.dashboard_general_site.template.title }}" />
    <meta name="pagelayout" content="{{ page.pagelayout.title }}" />
    <style>
        body {
          display: none;
        }
    </style>
    <script>
      document.documentElement.className = document.documentElement.className.replace("no-js","js");
    </script>
    {% if environmentmode == 'production' and request.site.dashboard_general_site.gatrackingid %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ request.site.dashboard_general_site.gatrackingid }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ request.site.dashboard_general_site.gatrackingid }}');
    </script>
    {% endif %}
    {% if environmentmode == 'production' and request.site.dashboard_general_site.monsido_domaintoken %}
    <script type="text/javascript">
        var _monsido = _monsido || [];
        _monsido.push(['_setDomainToken', '{{ request.site.dashboard_general_site.monsido_domaintoken }}']);
        _monsido.push(['_withStatistics', 'true']);
    </script>
    <script async src="//cdn.monsido.com/tool/javascripts/monsido.js"></script>
    {% endif %}
  </head>
  <body id="top" class="{% block bodyclasses %}{% endblock %}">
    <div class="pushfooter">
      <a href="#main" class="skipto">Skip to main content</a>
      {% if user.is_authenticated %}
      <div class="authenticated wrapper">
        <div class="pure-g">
          <div class="col pure-u-1-2">
            <a href="#" class="noZensmooth dropdown-button left pure-button narrow" data-activates="usermenu">
              <span class="sr-only">Logged in as {{ request.user.first_name }}</span>
              <span class="no-sr" aria-hidden="true">Hello, {{ request.user.first_name }}
                <span class="md-menu-down no-sr" aria-hidden="true"></span>
              </span>
            </a>
            <ul id="usermenu" class="z-depth-1 dropdown-content">
              <li>
                <a href="/accounts/logout/">
                  <span class="sr-only">Logout of the website.</span>
                  <span class="md-exit no-sr" aria-hidden="true"> Logout</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col pure-u-1-2">
            {% if pageopts %}
            {% has_change_permissions request page as can_edit%}
            {% if can_edit %}
            <a id="editpagemodaal" href="{% url pageopts|admin_urlname:'change' page.pk %}" class="right pure-button narrow editlink">
              <span class="sr-only">Edit Page</span>
              <span class="md-pencil no-sr" aria-hidden="true"> Edit Page</span>
            </a>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="preheader wrapper">
        <div class="pure-g">
          <div class="col pure-u-1-2">
            <ul class="translationlinks col s5 m4 l6">
              {% for item in TRANSLATION_ITEMS|slice:":4" %}
              <li class="{% if forloop.counter == 4 or forloop.counter == 3 %}hide-md{% endif %} hide-sm hide-xs">
                <a href="#" class="noZensmooth pure-button narrow" onclick="doGTranslate('en|{{ item.language_code }}'); return false;">
                  <span class="sr-only">Translate to {{ item.title }}</span>
                  <span class="notranslate no-sr" aria-hidden="true"{% if item.iso_639_1_language_code %} lang="{{ item.iso_639_1_language_code }}"{% endif %}>{{ item.native_language }}</span>
                </a>
              </li>
              {% endfor %}
              <li>
                <input type="checkbox" id="nav-trigger" class="nav-trigger" autocomplete="off" />
                <label class="nav-trigger-label pure-button narrow md-chevron-left" for="nav-trigger">
                    <span class="hide-sm hide-xs">
                      <span class="sr-only">Open more translation languages menu (You can close the menu by pressing escape any time).</span>
                      <span class="no-sr" aria-hidden="true">More</span>
                    </span>
                    <span class="hide-md hide-lg hide-xl">
                      <span class="sr-only">Open more translation languages menu (You can close the menu by pressing escape any time).</span>
                      <span class="no-sr" aria-hidden="true">Translate
                        <span class="md-menu-down no-sr" aria-hidden="true"></span>
                      </span>
                    </span>
                  </label>
                <!-- <a href="#fulltranslationlist" class="noZensmooth fulltranslationlist pure-button narrow slideleft-button" data-activates="fulltranslationlist"> -->
                
                <!-- </a> -->
                <!-- <div id="fulltranslationlist" class="slideleft-content"> -->
                  <ul class="sidenav navigation">
                    {% for item in TRANSLATION_ITEMS|dictsort:"title" %}
                    <li class="nav-item">
                      <a class="btn noZensmooth" href="#" onclick="doGTranslate('en|{{ item.language_code }}'); return false;" >
                        <span class="sr-only">Translate to {{ item.title }}</span>
                        <span class="notranslate no-sr" aria-hidden="true"{% if item.iso_639_1_language_code %} lang="{{ item.iso_639_1_language_code }}"{% endif %}>{{ item.native_language }}</span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                <!-- </div> -->
              </li>
            </ul>
          </div>
          <div class="col pure-u-1-2">
            <ul class="shortcuts right col s7 m8 l6">
              <li>
                <a href="/" class="pure-button narrow">
                  <span class="sr-only">Home page for {{ request.site.dashboard_general_site.title }}</span>
                  <span class="md-home no-sr" aria-hidden="true"></span>
                  <span class="hide-xs hide-sm hide-md no-sr" aria-hidden="true">Home</span>
                </a>
              </li>
              {% if request.site.dashboard_general_site.main_phone %}
              <li>
                <a href="tel:{{ request.site.dashboard_general_site.main_phone }}" class="pure-button narrow">
                  <span class="sr-only">Main phone number: {{ request.site.dashboard_general_site.main_phone }}</span>
                  <span class="md-phone no-sr" aria-hidden="true"></span>
                  <span class="hide-xs hide-sm hide-md no-sr" aria-hidden="true">
                    {{request.site.dashboard_general_site.main_phone|slice:"1:4"}}-{{request.site.dashboard_general_site.main_phone|slice:"4:7"}}-{{request.site.dashboard_general_site.main_phone|slice:"7:11"}}
                  </span>
                </a>
              </li>
              {% endif %}
              <li>
                <a href="/employees/" class="pure-button narrow">
                  <span class="sr-only">Employee Dashboard (Requires Authentication).</span>
                  <span class="md-group no-sr" aria-hidden="true"></span>
                  <span class="hide-xs hide-sm hide-md no-sr" aria-hidden="true">Employees</span>
                </a>
              </li>
              {% if not user.is_authenticated %}
              <li>
                <a href="/accounts/login/?next={{ request.path }}" class="pure-button narrow">
                  <span class="sr-only">Login to this website.</span>
                  <span class="md-key" aria-hidden="true"></span>
                  <span class="hide-xs hide-sm hide-md no-sr" aria-hidden="true">Login</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="header wrapper">
        {% block header %}
        {% endblock %}
      </div>
      <div class="precontent wrapper">
        {% block precontent %}
        {% endblock %}
      </div>
      <div id="main" class="main wrapper">
        {% if messages %}
        <div class="messages wrapper">
          <div class="pure-g">
            <div class="col pure-u-1">
              {% for message in messages %}
              <div class="card card-alert {% if message.tags %}{{ message.tags }}{% endif %}">
                <div class="card-content">
                {{message}}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer>
      <div class="footer wrapper slcschools-grey">
        <div class="pure-g">
          <div class="col pure-u-md-2-3 pure-u-1">
            <h2>Non-Discrimination Statement</h2>
            {{ request.site.dashboard_general_site.nd_statement|safe|relink }}
            <h2>Americans with Disabilities Act (ADA) Statement</h2>
            {{ request.site.dashboard_general_site.ada_statement|safe|relink }}
          </div>
          <div class="col pure-u-md-1-3 pure-u-1">
            <h2>Contact</h2>
            {% if request.site.dashboard_general_site.location %}
            <a href="{{ request.site.dashboard_general_site.location.google_place }}" target="_blank" class="contact-address">
                <span class="md-location"></span> {{ request.site.dashboard_general_site.location.title }}<br>
                <span class="md-blank"></span> {{ request.site.dashboard_general_site.location.street_address }}<br>
                <span class="md-blank"></span> {{ request.site.dashboard_general_site.location.location_city.title }}, {{ request.site.dashboard_general_site.location.location_state.title }} {{ request.site.dashboard_general_site.location.location_zipcode.title }}<br>
            </a>
            {% endif %}
            {% if request.site.dashboard_general_site.main_phone %}
            <a target="_blank"  href="tel:{{request.site.dashboard_general_site.main_phone }}" class="contact-phone">
              <span class="md-phone"></span> Phone: {{request.site.dashboard_general_site.main_phone|slice:"1:4"}}-{{request.site.dashboard_general_site.main_phone|slice:"4:7"}}-{{request.site.dashboard_general_site.main_phone|slice:"7:11"}}
            </a>
            {% endif %}
            {% if request.site.dashboard_general_site.main_fax %}
            <span class="contact-fax">
              <span class="md-fax"></span> Fax: {{request.site.dashboard_general_site.main_fax|slice:"1:4"}}-{{request.site.dashboard_general_site.main_fax|slice:"4:7"}}-{{request.site.dashboard_general_site.main_fax|slice:"7:11"}}
            </span>
            {% endif %}
            <a class="pure-button pure-button-primary contact-button" href="/contact-us/">Send Us A Message</a>
            {% if request.site.dashboard_general_site.global_facebook or request.site.dashboard_general_site.global_twitter or request.site.dashboard_general_site.global_instagram or request.site.dashboard_general_site.global_youtube %}
            <h2>Connect</h2>
            {% if request.site.dashboard_general_site.global_facebook %}
            <a class="socialicons" href="{{ request.site.dashboard_general_site.global_facebook  }}" target="_blank">
              <span class="sr-only">Facebook</span>
              <span class="md-facebook no-sr" aria-hidden="true"></span>
            </a>
            {% endif %}
            {% if request.site.dashboard_general_site.global_twitter %}
            <a class="socialicons" href="{{ request.site.dashboard_general_site.global_twitter }}" target="_blank">
              <span class="sr-only">Twitter</span>
              <span class="md-twitter no-sr" aria-hidden="true"></span>
            </a>
            {% endif %}
            {% if request.site.dashboard_general_site.global_instagram %}
            <a class="socialicons" href="{{ request.site.dashboard_general_site.global_instagram }}" target="_blank">
              <span class="sr-only">Instagram</span>
              <span class="md-instagram no-sr" aria-hidden="true"></span>
            </a>
            {% endif %}
            {% if request.site.dashboard_general_site.global_youtube %}
            <a class="socialicons" href="{{ request.site.dashboard_general_site.global_youtube }}" target="_blank">
              <span class="sr-only">YouTube</span>
              <span class="md-youtube no-sr" aria-hidden="true"></span>
            </a>
            {% endif %}
            {% endif %}
            {% if request.site.dashboard_general_site.sitetype.title == 'School Website' %}
            <h2>SafeUT CrisisLine</h2>
            <a href="https://safeut.med.utah.edu/" target="_blank"><img src="https://drupal.slcschools.org/sites/all/themes/slcschools/img/safeutsendatip.png" alt="SafeUT Send a Tip"></a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="footercopyright wrapper slcschools-grey darken-1">
        <div class="pure-g">
          <div class="col pure-u-1">
            <p>© {{ request.site.dashboard_general_site.title }}{% if request.site.dashboard_general_site.primary_domain != 'www.slcschools.org' %} | Salt Lake City School District {% endif %}</p>
          </div>
        </div>
      </div>
    </footer>
    <a id="backtotop" class="slcschools-grey lighten-1 white-text" href="#top">
      <span class="sr-only">Scroll back to the top of the page</span>
      <span class="md-chevron-up no-sr" aria-hidden="true"></span>
    </a>
    <div id="google_translate_element2" class="hide"></div>
    {% stylesheet request.site.dashboard_general_site.namespace %}
    {% block scriptsstyles %}
    {% endblock %}
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
  </body>
</html>
