.skipto {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
.skipto:active, .skipto:focus, .skipto:hover {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
[class^="md-"]::before, [class*=" md-"]::before {
  top: 3px;
  position: relative;
}
.hide{
  display: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover, a:focus {
  border: 3px solid transparent;
  transition: .05s;
  font-size: 1.05em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0 0 0 1px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.md-blank{
  color: transparent !important;
}
footer .socialicons {
  overflow: hidden;
  z-index: 11;
  cursor: pointer;
  bottom: 18px;
  right: 18px;
  text-align: center;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size-adjust: none;
}
.input-field {
  padding-bottom: 10px;
}
.input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  transition: color .2s;
}
.input-field .prefix ~ input,
.input-field .prefix ~ span input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .autocomplete-content {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}
.input-field .prefix ~ button{
  margin-left: 3rem;
}
.pure-form input:not([type])[disabled], .pure-form input[type="password"][disabled], .pure-form input[type="email"][disabled], .pure-form input[type="url"][disabled], .pure-form input[type="date"][disabled], .pure-form input[type="month"][disabled], .pure-form input[type="time"][disabled], .pure-form input[type="datetime"][disabled], .pure-form input[type="datetime-local"][disabled], .pure-form input[type="week"][disabled], .pure-form input[type="tel"][disabled], .pure-form input[type="color"][disabled], .pure-form input[type="number"][disabled], .pure-form input[type="search"][disabled], .pure-form input[type="text"][disabled], .pure-form select[disabled], .pure-form textarea[disabled]{
background-color: transparent;
}
.card {
    padding: 15px;
    margin-bottom: 20px;
}
.card.card-alert.success,
.card.card-alert.success a {
    background: #4BB543;
    color: #fff !important;
}
